<h1></h1>
<p></p>

<h1>Today is the Greatest</h1>
<p>
  Day I've ever known
  Project on <%= link_to "GitHub", "https://github.com/mikesabat/kent" %>
</p>
<p>
  <%= link_to "Today's Stock", "#", class: "btn btn-primary btn-large" %>
</p>
