@import 'bootstrap';

body{
	padding: 60px;
}
@import 'bootstrap-responsive';

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}
.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.lost_history {
	color: red;

}

.won_history {
	color: #00ff00;

}

#add_stock {
	color: white;
}